
body{
	background-color:rgb(165, 16, 136);

}

h1{
	color: pink;
	font-size: 350%;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 p{
	color: red;
	font-size: 300%;
	font-family:verdana;
	border: 0.5px solid powderblue;
	background-image: ;
 }
    



.name h2{
	background-color: blue;
}

.name p{
	background-color: yellow;
}
